# Site
name: 'Gean Ramos'
description: 'O lugar onde as hist贸rias ganham vida! Junte-se a n贸s para romances arrebatadores, reflex玫es profundas e muitos mais. '
logo: 'assets/images/logo.png'
favicon: 'img/favicon.ico'
baseurl: '/'
cdnurl: "https://i1.wp.com/geanramos.u1m.com.br"
disqus: 'geanramos'
email: 'blog@geanramos.com'
mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'

include: ["_pages"]
permalink: /:title.html

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
authors:
    geanramos:
      name:           Gean Ramos
      site:           https://gean.me
      avatar:         assets/images/avatar1.jpg
      bio:            "O lugar onde as hist贸rias ganham vida! Junte-se a n贸s para romances arrebatadores, reflex玫es profundas e muitos mais. "
      email:          geanramos@gmail.com
      twitter:        https://twitter.com/geanramos

    jane:
      name:           Jane
      site:           https://www.wowthemes.net
      avatar:         assets/images/avatar2.jpg
      bio:            "Blogger, fashionista, love to explore new ideas and write on my morning coffee!"
      email:          fakemail@gmail.com
      twitter:        https://twitter.com/wowthemesnet
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: sal
      avatar: /assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]
